*~
*.o
build/

#Autotool
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
config.h
config.h.in
configure
Makefile
Makefile.in
stamp-h1
install-sh
libtool
ltmain.sh
compile
depcomp
test-driver
m4/
missing
*.la
*.lo
.deps/
.libs/